<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>$page_title$</title>

  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700"/>

  <link rel="icon" type="image/png" href="/img/favicon_clear-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicon_clear-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon_clear-256.png" sizes="256x256">

</head>

<body $if(subsection)$class="$subsection$"$endif$>

  <script>document.body.className = "$if(subsection)$$subsection$$endif$ hasJS";</script>

  <header>
    <div class="wrap">
      <h1><a href="../">PureScript</a></h1>
      <nav>
        <h2>Menu</h2>
        $nav$
      </nav>
    </div>
  </header>

  <main>
  $body$
  </main>

  <footer>
    <nav>
      $nav$
      <ul class="external">
        <li class="github"><a href="https://github.com/purescript/purescript" title="GitHub">GitHub</a></li>
        <li class="twitter"><a href="https://twitter.com/purescript" title="Twitter">Twitter</a></li>
      </ul>
    </nav>
  </footer>

  <script src="js/lib/zepto-1.1.4.min.js"></script>
  <script src="js/home.js"></script>

</body>
</html>

