body
{
  font: 18px/26px "PT Serif", Georgia, Times, Serif;
  color: #404040;
  margin: 0;
}

.centered {
  width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  width: 750px;
  margin: 0 auto;
}

@media (max-width:1000px)
{
  .centered
  {
    width: auto;
  }

  .wrapper
  {
    width: 100%;
  }
}

.header {
  border-bottom: 1px solid #ddd;
}
.footer {
  margin: 40px 0 20px 0;
  border-top: 1px solid #ddd;
  font-size: 12px;
}

h1 {
  margin: 40px 0 20px 0;
}

h2, h3 {
  margin: 40px 0 10px 0;
}

.info {
  font-size: 12px;
}

.info .date, .info .author {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  display: block;
  padding: 10px 40px;
  margin: 0;
}

pre, code {
  font: 14px Consolas, "Liberation Mono", Courier, monospace;
  background: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 2px 4px;
}

pre code {
  background: none;
  border: 0;
  padding: 0;
}

a {
  color: #800000;
}
